<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunhang.mapper.CommentMapper">
 
    <select id="getCommentsByItemId" resultType="com.xunhang.pojo.vo.CommentVO"  parameterType="java.lang.Long">
      SELECT
        c.id AS id,
        c.user_id ,
        c.content,
        c.item_id,
        c.create_time ,
        c.update_time ,
        c.like_count,
        c.parent_id,
        u.nickname,
        u.head_image
      FROM
        comment c
      LEFT JOIN
        user u ON c.user_id = u.id
      WHERE
        c.item_id = #{id}
        and c.parent_id is null
      ORDER BY
        c.create_time DESC;
    </select>
  <select id="getRepliesByCommentIds" resultType="com.xunhang.pojo.vo.ReplyVO">
    SELECT
    *
    FROM
    (
    SELECT
    c.user_id,
    u.nickname,
    u.head_image,
    c.reply_user_id,
    r.nickname AS reply_nickname,
    c.id,
    c.parent_id,
    c.content,
    c.create_time,
    row_number () over ( PARTITION BY parent_id ORDER BY c.create_time ) row_num
    FROM
    comment c
    JOIN user u ON c.user_id = u.id
    JOIN user r ON c.reply_user_id = r.id
    WHERE
    parent_id IN
    (
    <foreach collection="commentIds" item="commentId" separator=",">
      #{commentId}
    </foreach>
    )
    order by c.create_time desc
    ) t
  </select>

</mapper>