<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunhang.mapper.FriendMapper">
  <resultMap id="BaseResultMap" type="com.xunhang.pojo.entity.Friend">
    <!--@mbg.generated-->
    <!--@Table friend-->
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="friend_id" jdbcType="BIGINT" property="friendId" />
    <result column="last_content_type" jdbcType="VARCHAR" property="lastContentType" />
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="last_content" jdbcType="VARCHAR" property="lastContent" />
  </resultMap>


</mapper>