<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.xunhang.mapper.ItemMapper">




    <!--按picker查找-->
    <select id="getItem" resultType="com.xunhang.pojo.entity.Item"  >
        select * from item where category=#{category}
        <if test= 'date!=null and date !=""  '>
            and date = #{date}
        </if>
        <if test='text != null and text != "" '>
           and LOCATE(#{text},`description`) > 0 or LOCATE(#{text},`location`) > 0 or LOCATE(#{text},`tag`) > 0 or LOCATE(#{text},`title`) > 0
        </if>
        order by  id
        limit #{index},#{count}
    </select>

<!--    按文本-->


<!--    按openid查找-->
    <select id="getItemByPublisherId" resultType="com.xunhang.pojo.entity.Item">
        select * from item where publisher_id =#{publisherId} and category = #{category}
    </select>









</mapper>